.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--dark);
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    border: 2px solid deepskyblue;
}

.form div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.link {
    background-color: deepskyblue;
}

.link:hover {
    background-color: skyblue
}